<main>
    <p class="d-flex justify-center">Восстановление</p>

    <div class="other">
        После ввода кода Вас автоматически перенаправит на страницу смены пароля.
    </div>

    <div class="pr-2 pl-2 child">
        <app-input-otp></app-input-otp>
        <app-button>Далее</app-button>

        <div class="other">
            <app-nav-button className="auxiliary" [link]="link_registration">Зарегистрироваться</app-nav-button>
            или
            <app-nav-button className="auxiliary" [link]="link_login">Войти</app-nav-button>
        </div>
    </div>
</main>