//===-[colors]-===//
$base-bg-color: #191919;

//dock
$dock-active-border-color: #1C70EF;
$dock-active-bg-color: rgba(28, 112, 239, 0.15);

//buttons
$base-button-color: #191919;

//text
$white-1:   rgb(255, 255, 255);
$white-09:  rgba(255, 255, 255, 0.90);

$gray-1:    rgb(187, 187, 187);
$gray-085:  rgba(179, 179, 179, 0.85);
$gray-075:  rgba(187, 187, 187, 0.75);
$gray-05:   rgba(179, 179, 179, 0.50);

//errors
$red: #DA3E3E;
$maintenance: #DAAE3E;

$accent-color: #1C70EF;

//borders
$base-border-color: rgba(64, 64, 64, 0.50);

//===[end colors]===//



//rounded
$base-rounded: 16px;

$dock-rounded-a: 12px;