$components-list: 'registration', 'login', 'servers' ,'recovery', 'error502', 'maintenance';

@each $c in $components-list {
  app-#{$c} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}