@import 'variables';

:host {
  width: 100%;
}

#file-input {
  display: none;
}

label {
  cursor: pointer;

  &.default {
    border-radius: $base-rounded;
    border: 1px solid $base-border-color;
    background: $base-bg-color;
    color: $white-1;

    display: block;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 500;

    text-align: center;

    transition: .1s ease-in;

    &:hover {
      background: $accent-color;

      &:active {

      }
    }
  }
}