<main>
    <p class="d-flex justify-center">Восстановление</p>
    <div class="other">
        После ввода нового пароля будет произведён автоматический вход в Ваш аккаунт.
    </div>
    <div class="pr-2 pl-2 child">
        <app-input-text
                type="password"
                placeholder="Пароль"></app-input-text>
        <app-input-text
                type="password"
                placeholder="Повторный пароль"></app-input-text>

        <app-button>Продолжить</app-button>

    </div>
</main>